@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
  color: #10162f;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  font-size: 1rem;
  cursor: pointer;
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 600;
}