@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');
@import url("https://rsms.me/inter/inter.css");

:root {
    --accent: rgb(41, 4, 4);
    --content: rgb(92, 92, 92);
    --background: rgb(168, 12, 12);
    --foreground: rgb(27, 207, 183);
    --edge: #fff
}

.theme-dark {
    --accent: #00f0
    --content: #000;
    --background: #000;
    --foreground: #222;
    --edge: #223
}

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
  color: #f0f3ff;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  font-size: 1rem;
  cursor: pointer;
}

span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 600;
}